<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>url</key>
		<string></string>
		<key>title</key>
		<string>No Action</string>
		<key>iconFilename</key>
		<string>no-action-icon</string>
	</dict>
	<dict>
		<key>url</key>
		<string></string>
		<key>title</key>
		<string>x Calendar</string>
		<key>iconFilename</key>
		<string>calendar-icon</string>
	</dict>
	<dict>
		<key>url</key>
		<string>anydo://</string>
		<key>title</key>
		<string>Anydo</string>
		<key>iconFilename</key>
		<string>anydo-icon</string>
	</dict>
	<dict>
		<key>url</key>
		<string>dayone:/</string>
		<key>title</key>
		<string>Day One</string>
		<key>iconFilename</key>
		<string>dayone-icon</string>
	</dict>
	<dict>
		<key>url</key>
		<string>fb://feed</string>
		<key>title</key>
		<string>Facebook</string>
		<key>iconFilename</key>
		<string>facebook-icon</string>
	</dict>
	<dict>
		<key>url</key>
		<string>fantastical://</string>
		<key>title</key>
		<string>Fantastical</string>
		<key>iconFilename</key>
		<string>fantastical-icon</string>
	</dict>
	<dict>
		<key>url</key>
		<string>flipboard://</string>
		<key>title</key>
		<string>Flipboard</string>
		<key>iconFilename</key>
		<string>flipboard-icon</string>
	</dict>
	<dict>
		<key>url</key>
		<string>googlegmail://</string>
		<key>title</key>
		<string>Gmail</string>
		<key>iconFilename</key>
		<string>gmail-icon</string>
	</dict>
	<dict>
		<key>url</key>
		<string>instagram://app</string>
		<key>title</key>
		<string>Instagram</string>
		<key>iconFilename</key>
		<string>instagram-icon</string>
	</dict>
	<dict>
		<key>url</key>
		<string>music:</string>
		<key>title</key>
		<string>Music</string>
		<key>iconFilename</key>
		<string>music-icon</string>
	</dict>
	<dict>
		<key>url</key>
		<string>pandora:</string>
		<key>title</key>
		<string>Pandora</string>
		<key>iconFilename</key>
		<string>pandora-icon</string>
	</dict>
	<dict>
		<key>url</key>
		<string>path:</string>
		<key>title</key>
		<string>Path</string>
		<key>iconFilename</key>
		<string>path-icon</string>
	</dict>
	<dict>
		<key>url</key>
		<string>pocket://</string>
		<key>title</key>
		<string>Pocket</string>
		<key>iconFilename</key>
		<string>pocket-icon</string>
	</dict>
	<dict>
		<key>url</key>
		<string>readmill://</string>
		<key>title</key>
		<string>Readmill</string>
		<key>iconFilename</key>
		<string>readmill-icon</string>
	</dict>
	<dict>
		<key>url</key>
		<string>reeder://</string>
		<key>title</key>
		<string>Reeder</string>
		<key>iconFilename</key>
		<string>reeder-icon</string>
	</dict>
	<dict>
		<key>url</key>
		<string>rdio://</string>
		<key>title</key>
		<string>Rdio</string>
		<key>iconFilename</key>
		<string>rdio-icon</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://apple.com</string>
		<key>title</key>
		<string>Safari</string>
		<key>iconFilename</key>
		<string>safari-icon</string>
	</dict>
	<dict>
		<key>url</key>
		<string>fb124059057672479://</string>
		<key>title</key>
		<string>Sparrow</string>
		<key>iconFilename</key>
		<string>sparrow-icon</string>
	</dict>
	<dict>
		<key>url</key>
		<string>spotify:app</string>
		<key>title</key>
		<string>Spotify</string>
		<key>iconFilename</key>
		<string>spotify-icon</string>
	</dict>
	<dict>
		<key>url</key>
		<string>tweetbot://timeline</string>
		<key>title</key>
		<string>Tweetbot</string>
		<key>iconFilename</key>
		<string>tweetbot-icon</string>
	</dict>
	<dict>
		<key>url</key>
		<string>twitter://timeline</string>
		<key>title</key>
		<string>Twitter</string>
		<key>iconFilename</key>
		<string>twitter-icon</string>
	</dict>
	<dict>
		<key>url</key>
		<string>twitterrific://</string>
		<key>title</key>
		<string>Twitterrific</string>
		<key>iconFilename</key>
		<string>twitterrific-icon</string>
	</dict>
	<dict>
		<key>url</key>
		<string>yweather:</string>
		<key>title</key>
		<string>Weather</string>
		<key>iconFilename</key>
		<string>weather-icon</string>
	</dict>
	<dict>
		<key>url</key>
		<string>zite://</string>
		<key>title</key>
		<string>Zite</string>
		<key>iconFilename</key>
		<string>zite-icon</string>
	</dict>
</array>
</plist>
