<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>themeID</key>
		<string>0</string>
		<key>artist</key>
		<string>Mr. Waveform</string>
		<key>title</key>
		<string>The sea hits the shore</string>
		<key>filename</key>
		<string>waves.wav</string>
	</dict>
	<dict>
		<key>themeID</key>
		<string>0</string>
		<key>artist</key>
		<string>Donald Glover</string>
		<key>title</key>
		<string>How the sun sets</string>
		<key>filename</key>
		<string>waves.wav</string>
	</dict>
	<dict>
		<key>themeID</key>
		<string>0</string>
		<key>artist</key>
		<string>Joe Designerson</string>
		<key>title</key>
		<string>The American Idol</string>
		<key>filename</key>
		<string>waves.wav</string>
	</dict>
	<dict>
		<key>themeID</key>
		<string>0</string>
		<key>artist</key>
		<string>Hal Suitcase</string>
		<key>title</key>
		<string>May and July</string>
		<key>filename</key>
		<string>waves.wav</string>
	</dict>
	<dict>
		<key>themeID</key>
		<string>0</string>
		<key>artist</key>
		<string>Barn House Tunes</string>
		<key>title</key>
		<string>Cow Bells</string>
		<key>filename</key>
		<string>waves.wav</string>
	</dict>
	<dict>
		<key>themeID</key>
		<string>0</string>
		<key>artist</key>
		<string>SKRILLEX</string>
		<key>title</key>
		<string>Mad Baloons Popping</string>
		<key>filename</key>
		<string>waves.wav</string>
	</dict>
</array>
</plist>
