<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>themeID</key>
		<string>0</string>
		<key>artist</key>
		<string></string>
		<key>title</key>
		<string>Chamaeleon</string>
		<key>filename</key>
		<string>chamaeleon</string>
	</dict>
	<dict>
		<key>themeID</key>
		<string>0</string>
		<key>artist</key>
		<string></string>
		<key>title</key>
		<string>Epsilon</string>
		<key>filename</key>
		<string>epsilon</string>
	</dict>
	<dict>
		<key>themeID</key>
		<string>0</string>
		<key>artist</key>
		<string></string>
		<key>title</key>
		<string>Galaxy</string>
		<key>filename</key>
		<string>galaxy</string>
	</dict>
	<dict>
		<key>themeID</key>
		<string>0</string>
		<key>artist</key>
		<string></string>
		<key>title</key>
		<string>Hydrus</string>
		<key>filename</key>
		<string>hydrus</string>
	</dict>
	<dict>
		<key>themeID</key>
		<string>0</string>
		<key>artist</key>
		<string></string>
		<key>title</key>
		<string>Lynx</string>
		<key>filename</key>
		<string>lynx</string>
	</dict>
	<dict>
		<key>themeID</key>
		<string>0</string>
		<key>artist</key>
		<string></string>
		<key>title</key>
		<string>Phoenix</string>
		<key>filename</key>
		<string>phoenix</string>
	</dict>
</array>
</plist>
