<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>innerRingColor</key>
		<string>111f20</string>
		<key>innerRingOpacity</key>
		<real>0.9</real>
		<key>outerRingColor</key>
		<string>111f20</string>
		<key>outerRingOpacity</key>
		<real>0.9</real>
		<key>innerHandleColor</key>
		<string>000000</string>
		<key>outerHandleColor</key>
		<string>ffffff</string>
		<key>centerColor</key>
		<string>0c1319</string>
		<key>centerOpacity</key>
		<real>0.87</real>
		<key>innerColor</key>
		<string>cfdfae</string>
		<key>innerOpacity</key>
		<real>0.53</real>
		<key>outerColor</key>
		<string>111f20</string>
		<key>outerOpacity</key>
		<real>0.8</real>
		<key>bgFilename</key>
		<string>artist.jpg</string>
	</dict>
</array>
</plist>
