<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>innerColor</key>
		<string>00adef</string>
		<key>innerOpacity</key>
		<real>0.4</real>
		<key>innerRingColor</key>
		<string>ffffff</string>
		<key>innerRingOpacity</key>
		<integer>1</integer>
		<key>innerFillColor</key>
		<string>ffffff</string>
		<key>innerFillOpacity</key>
		<integer>0</integer>
		<key>innerHandleColor</key>
		<string>ffffff</string>
		<key>outerColor</key>
		<string>2e3092</string>
		<key>outerOpacity</key>
		<real>0.5</real>
		<key>outerRingColor</key>
		<string>ffffff</string>
		<key>outerRingOpacity</key>
		<integer>1</integer>
		<key>outerFillColor</key>
		<string>ffffff</string>
		<key>outerFillOpacity</key>
		<integer>0</integer>
		<key>outerHandleColor</key>
		<string>ffffff</string>
		<key>centerColor</key>
		<string>000000</string>
		<key>centerOpacity</key>
		<real>0.65</real>
		<key>bgFilename</key>
		<string>NightSky</string>
	</dict>
	<dict>
		<key>innerColor</key>
		<string>262261</string>
		<key>innerOpacity</key>
		<real>0.3</real>
		<key>innerRingColor</key>
		<string>ffffff</string>
		<key>innerRingOpacity</key>
		<integer>1</integer>
		<key>innerFillColor</key>
		<string>ffffff</string>
		<key>innerFillOpacity</key>
		<real>0.3</real>
		<key>innerHandleColor</key>
		<string>ffffff</string>
		<key>outerColor</key>
		<string>ffffff</string>
		<key>outerOpacity</key>
		<real>0.5</real>
		<key>outerRingColor</key>
		<string>ffffff</string>
		<key>outerRingOpacity</key>
		<integer>0</integer>
		<key>outerFillColor</key>
		<string>ffffff</string>
		<key>outerFillOpacity</key>
		<real>0.3</real>
		<key>outerHandleColor</key>
		<string>ffffff</string>
		<key>centerColor</key>
		<string>003582</string>
		<key>centerOpacity</key>
		<real>0.8</real>
		<key>bgFilename</key>
		<string>Oceanside</string>
	</dict>
	<dict>
		<key>innerColor</key>
		<string>262261</string>
		<key>innerOpacity</key>
		<real>0.3</real>
		<key>innerRingColor</key>
		<string>ffffff</string>
		<key>innerRingOpacity</key>
		<integer>1</integer>
		<key>innerFillColor</key>
		<string>ffffff</string>
		<key>innerFillOpacity</key>
		<real>0.3</real>
		<key>innerHandleColor</key>
		<string>ffffff</string>
		<key>outerColor</key>
		<string>ffffff</string>
		<key>outerOpacity</key>
		<real>0.5</real>
		<key>outerRingColor</key>
		<string>ffffff</string>
		<key>outerRingOpacity</key>
		<integer>0</integer>
		<key>outerFillColor</key>
		<string>ffffff</string>
		<key>outerFillOpacity</key>
		<real>0.3</real>
		<key>outerHandleColor</key>
		<string>ffffff</string>
		<key>centerColor</key>
		<string>003582</string>
		<key>centerOpacity</key>
		<real>0.8</real>
		<key>bgFilename</key>
		<string>OceanSide</string>
	</dict>
	<dict>
		<key>innerColor</key>
		<string>262261</string>
		<key>innerOpacity</key>
		<real>0.3</real>
		<key>innerRingColor</key>
		<string>ffffff</string>
		<key>innerRingOpacity</key>
		<integer>1</integer>
		<key>innerFillColor</key>
		<string>ffffff</string>
		<key>innerFillOpacity</key>
		<real>0.3</real>
		<key>innerHandleColor</key>
		<string>ffffff</string>
		<key>outerColor</key>
		<string>ffffff</string>
		<key>outerOpacity</key>
		<real>0.5</real>
		<key>outerRingColor</key>
		<string>ffffff</string>
		<key>outerRingOpacity</key>
		<integer>0</integer>
		<key>outerFillColor</key>
		<string>ffffff</string>
		<key>outerFillOpacity</key>
		<real>0.3</real>
		<key>outerHandleColor</key>
		<string>ffffff</string>
		<key>centerColor</key>
		<string>003582</string>
		<key>centerOpacity</key>
		<real>0.8</real>
		<key>bgFilename</key>
		<string>OceanSide</string>
	</dict>
	<dict>
		<key>innerColor</key>
		<string>262261</string>
		<key>innerOpacity</key>
		<real>0.3</real>
		<key>innerRingColor</key>
		<string>ffffff</string>
		<key>innerRingOpacity</key>
		<integer>1</integer>
		<key>innerFillColor</key>
		<string>ffffff</string>
		<key>innerFillOpacity</key>
		<real>0.3</real>
		<key>innerHandleColor</key>
		<string>ffffff</string>
		<key>outerColor</key>
		<string>ffffff</string>
		<key>outerOpacity</key>
		<real>0.5</real>
		<key>outerRingColor</key>
		<string>ffffff</string>
		<key>outerRingOpacity</key>
		<integer>0</integer>
		<key>outerFillColor</key>
		<string>ffffff</string>
		<key>outerFillOpacity</key>
		<real>0.3</real>
		<key>outerHandleColor</key>
		<string>ffffff</string>
		<key>centerColor</key>
		<string>003582</string>
		<key>centerOpacity</key>
		<real>0.8</real>
		<key>bgFilename</key>
		<string>OceanSide</string>
	</dict>
	<dict>
		<key>innerColor</key>
		<string>262261</string>
		<key>innerOpacity</key>
		<real>0.3</real>
		<key>innerRingColor</key>
		<string>ffffff</string>
		<key>innerRingOpacity</key>
		<integer>1</integer>
		<key>innerFillColor</key>
		<string>ffffff</string>
		<key>innerFillOpacity</key>
		<real>0.3</real>
		<key>innerHandleColor</key>
		<string>ffffff</string>
		<key>outerColor</key>
		<string>ffffff</string>
		<key>outerOpacity</key>
		<real>0.5</real>
		<key>outerRingColor</key>
		<string>ffffff</string>
		<key>outerRingOpacity</key>
		<integer>0</integer>
		<key>outerFillColor</key>
		<string>ffffff</string>
		<key>outerFillOpacity</key>
		<real>0.3</real>
		<key>outerHandleColor</key>
		<string>ffffff</string>
		<key>centerColor</key>
		<string>003582</string>
		<key>centerOpacity</key>
		<real>0.8</real>
		<key>bgFilename</key>
		<string>OceanSide</string>
	</dict>
</array>
</plist>
